a, a:hover, a:focus, a:active {
    text-decoration: none!important;
    color: inherit;
}

.page-header {
  background-color: white;
}


a.nav-link
{
	color: white!important;
    background-color: black!important;
    font-size: 2vw;
}


.clickme {
    background-color: #F9812A;
    padding: 1vw 2vw;
    color: white;
    text-decoration: none!important;
    font-weight:bold;
    border-radius:1vw;
}

.clickme-header {
    background-color: #F9812A;
    color: white;
    text-decoration: none!important;
    font-weight:bold;
    padding: .5vw .5vw;
    border-radius:1vw;


}
.card {
    width: 50vw;!important;
    background-color: #353839;
    color: white;
    text-align:center;
    align: center;
    font-size: 2.5vw;
    border-color: white;
}



.page-title {
  text-align: center;
  color: white;
  font-size:7vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 6vw!important;
  font-family: Arial, Helvetica, sans-serif;
}

.sub_header {
  color: black;
  text-align: center;
  font-size: 3vw!important;
  font-family: Arial, Helvetica, sans-serif;
}


select{
  text-align: center;
  color: #F9812A;
}


p {
  text-align: center;
  color: white;
}

.btn-orange {
  background-color: #F9812A;
  color: white;
}

li {
  color: white!important;
  text-align: center
}

table {
  margin-left: auto;
  margin-right: auto;
      font-size: 2vw!important;
      width: 80vw;
}
th {
text-align: center;
color: white;
text-weight: bold;
background-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vm;
}

img {
  max-width: 100%;
  height: auto;
}

.panel-group{
text-align: left;
width: 20vw;
background-color: black;
}

.panel-heading-nav{
text-align: left;
width: 100vw;
background-color: black!important;
color: white;
}

.projections{
	width: 100%!important;
	font-size: 1vw!important; 
}

.col-left {
    align-items: left;
    width: 80vw;
}

.col-middle{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.col-right {
    align-items: center;
    display: flex;
    flex: 1;
    width: 20vw;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-nav {
    float: right;
    margin: 0;
    width: 100vw;
}

ul{
	text-align: center
	font-size 3vw;
}

.dropdown-menu{
    text-align: center!important;
    background: black!important;
	font-size: 2vw;
}

.dropdown-item {
	color: white!important;
}


