{% extends "base.html" %}
{% block content %}
			<div id = "et-main-area">
<h1 class = "header">Data Monster Pitching Leaders</h1>

    <div class="container page-form">
<form class="filters" action = "/" method = "post">
        <label for="type">Select Stats:</label>
    <select class = "form-control form-control-lg" id = "type" name="type">
            <option value="Whiffs" {{whiff}}>Whiffs</option>
            <option value="In-Zone" {{inzone}}>In-Zone</option>
            <option value="Out Of Zone" {{outofzone}}>Out Of Zone</option>
            <option value="wOBA" {{woba}}>wOBA</option>
            <option value="StuffERA" {{stuffera}}>StuffERA</option>
    </select>
    <br>
	        <label for="display">Select Display Type:</label>
    <select class = "form-control form-control-lg" id = "display" name="display">
            <option value="Value" {{values}}>Value</option>
            <option value="Percentile" {{percentile}}>Percentile</option>
    </select>
    <br>
                <label for="year">Select Start Year:</label>
    <select class = "form-control form-control-sm" id = "year" name="year">
			<option value="2021" {{start21}}>2021</option>
			<option value="2020" {{start20}}>2020</option>
            <option value="2019" {{start19}}>2019</option>
            <option value="2018" {{start18}}>2018</option>
            <option value="2017" {{start17}}>2017</option>
            <option value="2016" {{start16}}>2016</option>
        <option value="2015" {{start15}}>2015</option>
    </select>
    <br>
                <label for="yearend">Select End Year:</label>
    <select class = "form-control form-control-sm" id = "yearend" name="yearend">
            <option value="2021" {{end21}}>2021</option>
			<option value="2020" {{end20}}>2020</option>
            <option value="2019" {{end19}}>2019</option>
            <option value="2018" {{end18}}>2018</option>
            <option value="2017" {{end17}}>2017</option>
            <option value="2016" {{end16}}>2016</option>
        <option value="2015" {{end15}}>2015</option>
    </select>
    <br>
        <label for="pitches">Min Number Pitches:</label>
<input type="number" class = "form-control form-control-sm" id="pitches" name="pitches"
       min="0" max="2000" step = "50" value = {{pitches}}>
    <br>
	      <label for="search">Search For Player:</label>
  <input type="text" class = "form-control form-control-lg" id="search" name="search" value = {{text}}><br>
    <button type="submit" class="btn btn-orange">Update Table</button>
</form>
        <br>
		<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Click For Glossary</a>
      </h3>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">{{expected}}</li>
        <li class="list-group-item">{{influence}}</li>
      </ul>
  </div>
</div>
    </div>
<br>
{{ pitchers.to_html(classes ="table table-striped table-bordered table-sm sortable", index = False, table_id = "dtBasicExample") | safe}}
				</div>
            </div>
				{% endblock %}