{% extends "base.html" %}
{% block content %}
<br>
			<div id = "et-main-area">
<h1 class = "header">2021 Fantasy Projections</h1>


    <div class="container page-form">
<form class="filters" action = "/projections" method = "post">
                <label for="positon">Position:</label>
    <select class = "form-control form-control-lg" id = "position" name="position">
            <option value="C" {{catcher}}>C</option>
            <option value="1B" {{first}}>1B</option>
			<option value="2B" {{second}}>2B</option>
            <option value="3B" {{third}}>3B</option>
            <option value="SS" {{short}}>SS</option>
            <option value="OF" {{outfield}}>OF</option>
            <option value="ALL" {{all}}>ALL</option>
    </select>
		<br>
            <label for="team">Select Team:</label>

    <select class = "form-control form-control-lg" id = "team" name="team">
{% for name, selected in teams %}
      <option value= "{{ name }}" {{selected}}>{{ name }}</option>
{% endfor %}
    </select>
	<br>
	      <label for="search">Search For Player:</label>
  <input type="text" class = "form-control form-control-lg" id="search" name="search" value = {{val}}><br>
    <br>
    <button type="submit" class="btn btn-orange">Update Table</button>
</form>
        <br>
{{ projections.to_html(classes ="table table-striped table-bordered table-sm sortable projections", index = False, table_id = "dtBasicExample") | safe}}
    </div>
	</div>
{% endblock %}