{% extends "base.html" %}
{% block content %}
			<div id = "et-main-area">
<h1 class = "header">Fantasy Prospect Value</h1>
<h3 class = "sub_header">Based Off 2021 Stats</h3>


    <div class="container page-form">
<form class="filters" action = "/prospects" method = "post">
                <label for="type">Has Player Reached Majors:</label>
    <select class = "form-control form-control-lg" id = "type" name="type">
            <option value="Minors" {{minors}}>Never Reached Majors</option>
            <option value="All" {{all}}>All 2021 Minor Leaguers</option>
    </select>
		<br>
	      <label for="search">Search For Player:</label>
  <input type="text" class = "form-control form-control-lg" id="search" name="search" value = {{val}}><br>
    <br>
    <button type="submit" class="btn btn-orange">Update Table</button>
</form>
        <br>
		<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Click For Glossary</a>
      </h3>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Value - Pure Weighted Average Fanatasy Value per 600 PAs of the most similar minor league seasons for a given prospect</li>
        <li class="list-group-item">Adjusted Value - Similar to Value while accounting for how much better a prospect is than the average prospect at a given level</li>
		<li class="list-group-item">Elite Rate - Weighted probability that a given player has a Elite Rate is quite simply the weighted probability of 90th percentile MLB outcome</li>
      </ul>
  </div>
</div>
<br>
{{ prospects.to_html(classes ="table table-striped table-bordered table-sm sortable", index = False, table_id = "dtBasicExample") | safe}}
    </div>
	</div>
{% endblock %}